extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Spectre.css CSS Framework'
  - var description = 'Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development. Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.'

block content
  .section.section-hero.bg-gray
    #overview.grid-hero.container.grid-lg.text-center
      .docs-brand
        a.docs-logo(href='index.html')
          img(src='img/spectre-logo.svg' alt='Spectre.css CSS Framework')
          h2 SPECTRE
      h1 SPECTRE.CSS
      h2
        | A #[u Lightweight], #[u Responsive] and #[u Modern] CSS Framework

  .section.section-updates.bg-gray
    .container.grid-lg
      .columns
        .column.col-4.col-xs-12
          h4 Headers
          h1 Heading 1
          h2 Heading 2
          h3 Heading 3
          h4 Heading 4
        .column.col-4.col-xs-12
          h4 BUTTONS
          .btn Default
          .btn.btn-primary Primary
          .btn.btn-disabled Disabled
          .btn.btn-action Action
          .btn.btn-link link button
        .column.col-4.col-xs-12
          h4 Navigation
          ul.nav
            li.nav-item: a(href="#") General
            li.nav-item: a(href="#") Configuration
            li.nav-item: a(href="#") Display
            li.nav-item: a(href="#") Simulation
            li.nav-item: a(href="#") Business Definition
      .columns
        .column.col-4.col-xs-12
          h4 FORMS
          .form-group
            label.form-label Unique ID
            input.form-input(type='text')
            label.form-label Title
            input.form-input(type='text', placeholder='Name')
            label.form-label Description
            textarea.form-input
        .column.col-4.col-xs-12
          h4 GROUP SELECTIONS
          .form-group
            label.form-label Gender
            label.form-radio
              input(type='radio' name='gender' checked='')
              i.form-icon 
              | Male
            label.form-radio
              input(type='radio' name='gender')
              i.form-icon 
              | Female
            label.form-label Toggle button
            label.form-switch
              input(type='checkbox' checked)
              i.form-icon
              | Toggle button on
            label.form-switch
              input(type='checkbox')
              i.form-icon
              | Toggle button off
            label.form-label Checkbox
            label.form-checkbox
              input(type='checkbox')
              i.form-icon
              | Not Selected
            label.form-checkbox
              input(type='checkbox' checked)
              i.form-icon
              | Selected
            label.form-label Dropdown
            select.form-select 
              option Choose an option 
              option Slack
              option Skype
        .column.col-4.col-xs-12
          h4 TABS
          ul.tab.tab-block
            li.tab-item.active: a(href="#") Nodes
            li.tab-item: a(href="#") Data
            li.tab-item: a(href="#") Appearance
          h4 COMPOUND BUTTONS
          .btn-compound
            .flexContainer
              .textContainer
                .btn-label New
                .btn-desc Create new tree from scratch
          .btn-compound
            .flexContainer
              .textContainer
                .btn-label New from sample data
                .btn-desc Create tree from provided data
              

  .section.section-ads.bg-gray
    include _layout/_ad-c.pug

  footer.section.section-footer
    include _layout/_footer.pug